<% labelled_fields_for :issue, @issue do |f| %>

<% if @issue.safe_attribute? 'is_private' %>
<p style="float:right; margin-right:1em;">
  <label class="inline" for="issue_is_private" id="issue_is_private_label"><%= f.check_box :is_private, :no_label => true %> <%= l(:field_is_private) %></label>
</p>
<% end %>

<% if params[:action] == 'new' %>
  <% role = User.current.roles_for_project(@project) %>
  <% if role[0]['name'] == 'Support' %>
    <% puts "JDEBUG : we are in support mode '#{role[0]['name']}'" %>
    <% puts "JDEBUG : check if we have contacts..." %>
    <% if @project.contacts.empty? %>
      <% puts "JDEBUG : we don't have contacts, create one" %>
      <p><label for="author_name"><%= l(:field_author_name) %><span class="required"> *</span></label><%= text_field_tag :author_name %></p>
      <p><label for="author_mail"><%= l(:field_author_mail) %><span class="required"> *</span></label><%= text_field_tag :author_mail %></p>
    <% else %>
      <% puts "JDEBUG : we have contacts, display them" %>
      <p><label for="selected_author"><%= l(:select_author) %></label><%= select_tag :selected_author, options_for_select(@project.contacts.sort!{|x, y| x.name <=> y.name }.collect {|m| [m.name.strip, m.email]}), :onchange => "updateHiddenField()" %></p>
      <%= hidden_field_tag :author_name, @project.contacts.sort!{|x, y| x.name <=> y.name }[0].first_name %>
      <%= hidden_field_tag :author_mail, @project.contacts.sort!{|x, y| x.name <=> y.name }[0].email %>
      <%= javascript_tag "function updateHiddenField(){
      var index = document.getElementById('selected_author').selectedIndex;

      var selected_text = document.getElementById('selected_author').options[index].text;
      hidden_name = document.getElementById('author_name');
      hidden_name.value = selected_text;

      var selected_value = document.getElementById('selected_author').value;
      hidden_mail = document.getElementById('author_mail');
      hidden_mail.value = selected_value;
      }" %>
    <% end %>
  <% else %>
    <% puts "JDEBUG : we are not in support mode '#{role[0]['name']}'" %>
    <%= hidden_field_tag :author_name, User.current.name %>
    <%= hidden_field_tag :author_mail, User.current.mail %>
  <% end %>
<% end %>

<% if @issue.safe_attribute? 'project_id' %>
<p><%= f.select :project_id, project_tree_options_for_select(@issue.allowed_target_projects, :selected => @issue.project), :required => true %></p>
<%= observe_field :issue_project_id, :url => project_issue_form_path(@project, :id => @issue, :project_change => '1'),
                                     :with => "Form.serialize('issue-form')" %>
<% end %>

<% if @issue.safe_attribute? 'tracker_id' %>
<p><%= f.select :tracker_id, @issue.project.trackers.collect {|t| [t.name, t.id]}, :required => true %></p>
<%= observe_field :issue_tracker_id, :url => project_issue_form_path(@project, :id => @issue),
                                     :with => "Form.serialize('issue-form')" %>
<% end %>

<% if @issue.safe_attribute? 'subject' %>
<p><%= f.text_field :subject, :size => 80, :required => true %></p>
<% end %>

<% if @issue.safe_attribute? 'description' %>
<p>
  <label><%= l(:field_description) %></label>
  <%= link_to_function image_tag('edit.png'),
    'Element.hide(this); Effect.toggle("issue_description_and_toolbar", "appear", {duration:0.3})' unless @issue.new_record? %>
  <% content_tag 'span', :id => "issue_description_and_toolbar", :style => (@issue.new_record? ? nil : 'display:none') do %>
    <%= f.text_area :description,
                   :cols => 60,
                   :rows => (@issue.description.blank? ? 10 : [[10, @issue.description.length / 50].max, 100].min),
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit',
                   :no_label => true %>
  <% end %>
</p>
<%= wikitoolbar_for 'issue_description' %>
<% end %>

<div id="attributes" class="attributes">
  <%= render :partial => 'issues/attributes' %>
</div>

<%= call_hook(:view_issues_form_details_bottom, { :issue => @issue, :form => f }) %>
<% end %>
