<% if issues && issues.any? %>
<% form_tag({}) do %>
  <table class="list issues">
    <thead><tr>
    <th>#</th>
    <th><%=l(:field_project)%></th>
    <th><%=l(:field_tracker)%></th>
    <th><%=l(:field_priority)%></th>
    <th><%=l(:field_status)%></th>
    <th><%=l(:field_subject)%></th>
    <th><%=l(:field_assigned_to)%></th>
    <th><%=l(:field_author)%></th>
    <th><%=l(:field_contacts)%></th>
    </tr></thead>
    <tbody>
      <% for issue in issues %>
        <% if !issue.status.is_closed? %>
          <% if issue.assigned_to.nil? || issue.assigned_to['id'] != User.current.id %>
            <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
              <td class="id">
                <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;') %>
                <%= link_to(h(issue.id), :controller => 'issues', :action => 'show', :id => issue) %>
              </td>
              <td class="project"><%= link_to_project(issue.project) %></td>
              <td class="tracker"><%=h issue.tracker %></td>
              <td class="priority"><%=h issue.priority %></td>
              <td class="status"><%=h issue.status %></td>
              <td class="subject">
                <%= link_to h(truncate(issue.subject, :length => 60)), :controller => 'issues', :action => 'show', :id => issue %>
              </td>
              <td>
                <%=h issue.assigned_to %>
              </td>
              <td class="author">
              <% if issue.author_name %>
                <%=h issue.author_name %>
              <% else %>
                <%=h issue.author %>
              <% end %>
              <% if issue.author_mail %>
                (<%=h issue.author_mail %>)
              <% end %>
              </td>
              <td>
                <% if issue.contacts.any? %>
                  <% issue.contacts.each do |contact| %>
                    <%=h link_to_source(contact) %>
                    (<%=h contact.emails.first %>)
                    <br/>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
