<% if issues && issues.any? %>
<% form_tag({}) do %>
  <table class="list issues">
    <thead><tr>
    <th>#</th>
    <th><%=l(:field_project)%></th>
    <th><%=l(:field_tracker)%></th>
    <th><%=l(:field_priority)%></th>
    <th><%=l(:field_status)%></th>
    <th><%=l(:field_subject)%></th>
    <th><%=l(:field_author)%></th>
    </tr></thead>
    <tbody>
    <% for issue in issues %>
    <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
      <td class="id">
        <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;', :id => nil) %>
        <%= link_to(h(issue.id), :controller => 'issues', :action => 'show', :id => issue) %>
      </td>
      <td class="project"><%= link_to_project(issue.project) %></td>
      <td class="tracker"><%=h issue.tracker %></td>
      <td class="priority"><%=h issue.priority %></td>
      <td class="status"><%=h issue.status %></td>
      <td class="subject">
        <%= link_to h(truncate(issue.subject, :length => 60)), :controller => 'issues', :action => 'show', :id => issue %> (<%=h issue.status %>)
      </td>
      <td class="author">
      <% if issue.author_name %>
        <%=h issue.author_name %>
      <% else %>
        <%=h issue.author %>
      <% end %>
      <% if issue.author_mail %>
        (<%=h issue.author_mail %>)
      <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
