<ul>
  <%= call_hook(:view_issues_context_menu_start, {:issues => @issues, :can => @can, :back => @back }) %>

<% if !@issue.nil? -%>
  <li><%= context_menu_link l(:button_edit), {:controller => 'issues', :action => 'edit', :id => @issue},
          :class => 'icon-edit', :disabled => !@can[:edit] %></li>
<% else %>
  <li><%= context_menu_link l(:button_edit), {:controller => 'issues', :action => 'bulk_edit', :ids => @issues.collect(&:id)},
          :class => 'icon-edit', :disabled => !@can[:edit] %></li>
<% end %>

  <% if @allowed_statuses.present? %>
  <li class="folder">
    <a href="#" class="submenu"><%= l(:field_status) %></a>
    <ul>
    <% @allowed_statuses.each do |s| -%>
        <li><%= context_menu_link h(s.name), {:controller => 'issues', :action => 'bulk_update', :ids => @issues.collect(&:id), :issue => {:status_id => s}, :back_url => @back}, :method => :post,
                                  :selected => (@issue && s == @issue.status), :disabled => !@can[:update] %></li>
    <% end -%>
    </ul>
  </li>
  <% end %>

  <% unless @trackers.nil? %>
  <li class="folder">
    <a href="#" class="submenu"><%= l(:field_tracker) %></a>
    <ul>
    <% @trackers.each do |t| -%>
        <li><%= context_menu_link h(t.name), {:controller => 'issues', :action => 'bulk_update', :ids => @issues.collect(&:id), :issue => {'tracker_id' => t}, :back_url => @back}, :method => :post,
                                  :selected => (@issue && t == @issue.tracker), :disabled => !@can[:edit] %></li>
    <% end -%>
    </ul>
  </li>
  <% end %>

  <li class="folder">
    <a href="#" class="submenu"><%= l(:field_priority) %></a>
    <ul>
    <% @priorities.each do |p| -%>
        <li><%= context_menu_link h(p.name), {:controller => 'issues', :action => 'bulk_update', :ids => @issues.collect(&:id), :issue => {'priority_id' => p}, :back_url => @back}, :method => :post,
                                  :selected => (@issue && p == @issue.priority), :disabled => (!@can[:edit] || @issues.detect {|i| !i.leaf?}) %></li>
    <% end -%>
    </ul>
  </li>

  <% #TODO: allow editing versions when multiple projects %>
  <% unless @project.nil? || @project.shared_versions.open.empty? -%>
  <li class="folder">
    <a href="#" class="submenu"><%= l(:field_fixed_version) %></a>
    <ul>
    <% @project.shared_versions.open.sort.each do |v| -%>
        <li><%= context_menu_link format_version_name(v), {:controller => 'issues', :action => 'bulk_update', :ids => @issues.collect(&:id), :issue => {'fixed_version_id' => v}, :back_url => @back}, :method => :post,
                                  :selected => (@issue && v == @issue.fixed_version), :disabled => !@can[:update] %></li>
    <% end -%>
        <li><%= context_menu_link l(:label_none), {:controller => 'issues', :action => 'bulk_update', :ids => @issues.collect(&:id), :issue => {'fixed_version_id' => 'none'}, :back_url => @back}, :method => :post,
                                  :selected => (@issue && @issue.fixed_version.nil?), :disabled => !@can[:update] %></li>
    </ul>
  </li>
  <% end %>

  <% unless User.current.allowed_to?(:edit_assigned_to, @issue, :global => true).nil? %>
    <% if @assignables.present? -%>
    <li class="folder">
      <a href="#" class="submenu"><%= l(:field_assigned_to) %></a>
      <ul>
      <% if @assignables.include?(User.current) %>
          <li><%= context_menu_link "<< #{l(:label_me)} >>", {:controller => 'issues', :action => 'bulk_update', :ids => @issues.collect(&:id), :issue => {'assigned_to_id' => User.current}, :back_url => @back}, :method => :post,
                                    :disabled => !@can[:update] %></li>
      <% end %>
      <% @assignables.each do |u| -%>
          <li><%= context_menu_link h(u.name), {:controller => 'issues', :action => 'bulk_update', :ids => @issues.collect(&:id), :issue => {'assigned_to_id' => u}, :back_url => @back}, :method => :post,
                                    :selected => (@issue && u == @issue.assigned_to), :disabled => !@can[:update] %></li>
      <% end -%>
          <li><%= context_menu_link l(:label_nobody), {:controller => 'issues', :action => 'bulk_update', :ids => @issues.collect(&:id), :issue => {'assigned_to_id' => 'none'}, :back_url => @back}, :method => :post,
                                    :selected => (@issue && @issue.assigned_to.nil?), :disabled => !@can[:update] %></li>
      </ul>
    </li>
    <% end %>
  <% end %>


  <% unless @project.nil? || @project.issue_categories.empty? -%>
  <li class="folder">
    <a href="#" class="submenu"><%= l(:field_category) %></a>
    <ul>
    <% @project.issue_categories.each do |u| -%>
        <li><%= context_menu_link h(u.name), {:controller => 'issues', :action => 'bulk_update', :ids => @issues.collect(&:id), :issue => {'category_id' => u}, :back_url => @back}, :method => :post,
                                  :selected => (@issue && u == @issue.category), :disabled => !@can[:update] %></li>
    <% end -%>
        <li><%= context_menu_link l(:label_none), {:controller => 'issues', :action => 'bulk_update', :ids => @issues.collect(&:id), :issue => {'category_id' => 'none'}, :back_url => @back}, :method => :post,
                                  :selected => (@issue && @issue.category.nil?), :disabled => !@can[:update] %></li>
    </ul>
  </li>
  <% end -%>


  <% unless User.current.allowed_to?(:edit_done_ratio, @issue, :global => true).nil? %>
    <% if Issue.use_field_for_done_ratio? %>
    <li class="folder">
      <a href="#" class="submenu"><%= l(:field_done_ratio) %></a>
      <ul>
      <% (0..10).map{|x|x*10}.each do |p| -%>
          <li><%= context_menu_link "#{p}%", {:controller => 'issues', :action => 'bulk_update', :ids => @issues.collect(&:id), :issue => {'done_ratio' => p}, :back_url => @back}, :method => :post,
                                        :selected => (@issue && p == @issue.done_ratio), :disabled => (!@can[:edit] || @issues.detect {|i| !i.leaf?}) %></li>
      <% end -%>
      </ul>
    </li>
    <% end %>
  <% end %>

  <% @options_by_custom_field.each do |field, options| %>
    <li class="folder">
      <a href="#" class="submenu"><%= h(field.name) %></a>
      <ul>
      <% options.each do |text, value| %>
        <li><%= bulk_update_custom_field_context_menu_link(field, text, value || text) %></li>
      <% end %>
      <% unless field.is_required? %>
        <li><%= bulk_update_custom_field_context_menu_link(field, l(:label_none), '') %></li>
      <% end %>
      </ul>
    </li>
  <% end %>

<% if !@issue.nil? %>
  <% if @can[:log_time] -%>
  <li><%= context_menu_link l(:button_log_time), {:controller => 'timelog', :action => 'new', :issue_id => @issue},
          :class => 'icon-time-add' %></li>
  <% end %>

  <% unless User.current.allowed_to?(:be_a_watcher, @issue, :global => true).nil? %>
  <li><%= watcher_link(@issue, User.current) %></li>
  <% end %>
<% end %>

<% if @issue.present? %>
  <li><%= context_menu_link l(:button_copy), {:controller => 'issues', :action => 'new', :project_id => @project, :copy_from => @issue},
          :class => 'icon-copy', :disabled => !@can[:copy] %></li>
<% else %>
  <li><%= context_menu_link l(:button_copy), {:controller => 'issues', :action => 'bulk_edit', :ids => @issues.collect(&:id), :copy => '1'},
                          :class => 'icon-copy', :disabled => !@can[:move] %></li>
<% end %>
  <li><%= context_menu_link l(:button_delete), issues_path(:ids => @issues.collect(&:id), :back_url => @back),
                            :method => :delete, :confirm => issues_destroy_confirmation_message(@issues), :class => 'icon-del', :disabled => !@can[:delete] %></li>

  <%= call_hook(:view_issues_context_menu_end, {:issues => @issues, :can => @can, :back => @back }) %>
</ul>
