<% i = 0 %>
<% for issue in Issue.visible.all %>
  <% i +=1 if !issue.status.is_closed? %>
<% end %>

<h3><%=l(:label_all_issues)%> (<%= i %>)</h3>

<% all_issues = Issue.visible.all %>

<%= render :partial => 'issues/list_all', :locals => { :issues => all_issues } %>
<% if all_issues.length > 0 %>
<p class="small"><%= link_to l(:label_issue_view_all), :controller => 'issues',
                                                       :action => 'index',
                                                       :set_filter => 1,
                                                       :sort => 'updated_on:desc' %></p>
<% end %>
