<%
role_name           = (!Setting.plugin_redmine_jbox_support[:role_name].nil?) ? Setting.plugin_redmine_jbox_support[:role_name] : 'Support'
support_name        = (!Setting.plugin_redmine_jbox_support[:support_name].nil?) ? Setting.plugin_redmine_jbox_support[:support_name] : 'Support JBox'
support_domain_name = (!Setting.plugin_redmine_jbox_support[:support_domain_name].nil?) ? Setting.plugin_redmine_jbox_support[:support_domain_name] : 'support.example.com'
%>

<p>
<%= content_tag(:label, l(:field_role_name)) %>
<%= text_field_tag("settings[role_name]", role_name) %>
</p>

<p>
<%= content_tag(:label, l(:field_support_domain_name)) %>
<%= text_field_tag("settings[support_domain_name]", support_domain_name) %>
</p>

<p>
<%= content_tag(:label, l(:field_support_name)) %>
<%= text_field_tag("settings[support_name]", support_name) %>
</p>

<br />
Ce module rajoute les permissions suivantes :
<ul>
  <li><%= l(:permission_edit_status) %></li>
  <li><%= l(:permission_edit_priority) %></li>
  <li><%= l(:permission_edit_assigned_to) %></li>
  <li><%= l(:permission_edit_start_date) %></li>
  <li><%= l(:permission_edit_due_date) %></li>
  <li><%= l(:permission_edit_estimated_hours) %></li>
  <li><%= l(:permission_edit_done_ratio) %></li>
  <li><%= l(:permission_edit_fixed_version) %></li>
  <li><%= l(:permission_edit_my_page) %></li>
  <li><%= l(:permission_see_related_projects) %></li>
  <li><%= l(:permission_see_project_members) %></li>
  <li><%= l(:permission_be_a_watcher) %></li>
  <li><%= l(:permission_watch_contacts) %></li>
</ul>

Ces permissions ne devraient pas être attribuées au rôle 'Support' !
<br />
Si c'était le cas, l'utilisateur ayant le rôle 'Support' aurait par exemple le droit d'assigner une demande à quelqu'un (Modifier l'assignation) etc...
