<% unless User.current.allowed_to?(:edit_my_page, @project, :global => true).nil? %>
<div class="contextual">
    <%= link_to l(:label_personalize_page), :action => 'page_layout' %>
</div>
<% end %>

<h2><%=l(:label_my_page)%></h2>

<div id="list-top">
  <% @blocks['top'].each do |b|
     next unless MyController::get_default_blocks.keys.include? b  %>
  <div class="mypage-box">
    <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user } %>
  </div>
  <% end if @blocks['top'] %>
</div>

<div id="list-left" class="splitcontentleft">
  <% @blocks['left'].each do |b|
     next unless MyController::get_default_blocks.keys.include? b %>
  <div class="mypage-box">
    <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user } %>
  </div>
  <% end if @blocks['left'] %>
</div>

<div id="list-right" class="splitcontentright">
  <% @blocks['right'].each do |b|
     next unless MyController::get_default_blocks.keys.include? b %>
  <div class="mypage-box">
    <%= render :partial => "my/blocks/#{b}", :locals => { :user => @user } %>
  </div>
  <% end if @blocks['right'] %>
</div>

<%= context_menu issues_context_menu_path %>

<% html_title(l(:label_my_page)) -%>
